
*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    min-height: 100vh;
    background-color: #f4f7fa; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#root {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    min-height: 100vh;
    display: block; 
}
